<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

      <nav>
         <a href="/">Home</a>
         <a href="/pokemon">Ver Lista Pokemons</a>

         <form action="/pokemon-search" method="get">
            <input list="pokemon" name="pokemonName" type="text" placeholder="...busca un pokemon" autocomplete="off">
            <button>Buscar</button>

            <datalist id="pokemon">
               <option value="moltres">
               <option value="charmander">
               <option value="squirtle">
            </datalist>
         </form>

      </nav>

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>